
*{
    margin-top: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:rgba(128, 128, 128, 0.123) ;
    display: flexbox;
    
}
.MpesaMenu{
    display: flexbox;
    background-color: #4CBB17;
    color: white;
    align-items: center;
    height: 50px;
    
    
}
label{
    
    
    font-size: large;
}

ul{
    justify-content: center;
    display: flex;
    padding: 10px;
    display: flex;
    padding-left: 5px;
}
li{
    font-size: large;
    margin-left: 10px;
    list-style: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
   
}
li :hover{
    background-color: #1b4f03;
    color: rgb(255, 255, 255);
    font-size: larger;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
a{
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: ;
}
.LIPANAMPESA{
    padding: 20px;
    margin-top: 20px;
    justify-content: center;
    display: grid;
    max-height: 500px;
    max-width: 320px;
    margin-inline: auto;/*The AUTO Helps center Items*/
    border: 1px solid#03444f;
    border-radius: 5px;
}
.LIPANAMPESA:hover{
    background-color: #03444f;
    color: white;
    
}
h2 {
    text-align: center;
}
button{
    padding: 10px;
    margin-top: 20px;
    background-color: #4CBB17;
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color: chocolate;
    color: #ffffff;
    
}