
*{
    margin-top: 0px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color:rgba(128, 128, 128, 0.123) ;
    
}
.MpesaMenu{
    display: flexbox;
    background-color: #4CBB17;
    color: white;
    text-align: start;
    
    
}
label{
    background-color: #1b4f03;
    margin-top: 50%;
    
    font-size: large;
}

ul{
    justify-content: center;
    display: flex;
    padding: 10px;
    display: flex;
    padding-left: 5px;
}
li{
    font-size: large;
    margin-left: 10px;
    list-style: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px;
    text-align: center;
   
}
li :hover{
    background-color: #1b4f03;
    color: rgb(255, 255, 255);
    font-size: larger;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
a{
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: ;
}
.LIPANAMPESA{
    align-content: center;
    align-items: center;
    justify-content: center;
    display: grid;
    
    
}
h2 {
    text-align: center;
}
button{
    margin-top: 20px;
    background-color: #4CBB17;
    color: white;
    border-radius: 5px;
}